
.container {
	/*top: 100px;*/
	/*text-align: center;*/
	margin: 50px;
}

.outerShell {
	background-color: #7f8c8d;
	padding: 20px;	
	border-radius: 10px;
}

.innerShell {
	background-color: black;
	border-radius: 10px;
	padding: 40px 10px;
}

.leftAm {
	color: white;

}

.leftPm {
	display: inline;
	color: white;
	text-align: right;
	position: absolute;
	margin-top: 144px;
	margin-left: 35px;
	/*top: 1em;*/
	/*width: 4em;*/
	/*margin-right: 1090px;*/
}

.leftAuto {
	color: white;
	text-align: right;
	position: absolute;
	bottom: 1em;
	width: 4em;
	margin-right: 1em
}

.clockScreen {
	background-color: #9b2525;
	border-radius: 10px;
	font-family: Digital;
	padding: 20px;
	overflow: auto;
	margin: 0 5em 10px 5em;

}

.ampmIndicator {
	color: #e20909;
	float: left;
	font-size: 150px;
	/*padding-right: 1em;*/
}

.clockText {
	font-size: 150px;
	color: #e20909;
	text-align: center;
	/*float: left;*/

}

.amFrequencies {
	text-align: center;
	color: white;
	margin: 0 5em;
	letter-spacing: 4px;
	/*padding: 10px;*/
/*	margin-top: 20px;
*/}

.fmFrequencies {
	text-align: center;
	color: white;
	margin: 0 5em;
	letter-spacing: 4px; 
	/*margin-bottom: 20px;*/
}

